[submodule "lib/delay-module"]
	path = lib/delay-module
	url = https://github.com/gnosisguild/zodiac-modifier-delay.git
[submodule "lib/roles-module"]
	path = lib/roles-module
	url = https://github.com/gnosisguild/zodiac-modifier-roles.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
